<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace ="com.tim.document.web1.mapper.OrderMyBatisMapper">

	<select id="findById"
		parameterType="java.lang.Integer"
		resultType="com.tim.document.web1.model.Order">
		
		SELECT 
			id
			,user_id AS userId
			,order_date AS orderDateTime
			,total_price AS totalPrice
		FROM orders
		WHERE id=#{id}	
	</select>
	<select id="findAll"
		resultType="com.tim.document.web1.model.Order">
			
		SELECT 
			id
			,user_id	AS userId
			,order_date AS orderDateTime
			,total_price AS totalPrice
		FROM orders	
		
	</select>
	<insert id="insert"
			parameterType="com.tim.document.web1.model.Order"
			useGeneratedKeys="true"
			keyProperty="id"
			keyColumn="ID">
	INSERT INTO orders
	(
		user_id,
		order_date,
		total_price
	)
	VALUES(
		#{userId},
		#{orderDateTime},
		#{totalPrice}
	)
	</insert>
</mapper>